<configuration>
    <system.webServer>
        <handlers>
            <add name="PythonFastCGI" path="*" verb="*" modules="FastCgiModule"
                 scriptProcessor="e:\pyapi\.venv\Scripts\python.exe|e:\pyapi\.venv\Lib\site-packages\wfastcgi.py"
                 resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
